:root {
    --background-color: #504f33;
    --header-height: 36px;
    --bottom-height: 140px;
    --width-popup-right: 200px
}

html,
body {
    overflow: hidden;
}

main {
    height: calc(100vh - var(--header-height) - var(--bottom-height));
    width: 100vw;
}

img {
    width: 100%;
    height: 100%;
}

.container-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-web {
    height: 60px;
    background-image: url("../access/img/bglogo.svg");
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    z-index: 9;
    filter: drop-shadow(0px 0px 0px #504f33);
}

.logo-web img {
    width: 100px;
    height: 100%;
    object-fit: contain;
    margin-left: 10px;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
}

.icon-trans {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.icon-trans img {
    width: 20px;
    height: 12px;
    margin-right: 10px;
}

.multi-languague {
    cursor: pointer;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: red;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.room {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
}
.room.show{
    display: block;
}
.room .roombox {
    width: 100%;
    height: 100%;
}

.webgl {
    width: 100%;
    height: 100%;
}

.introdution-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../access/img/thumb.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: gray;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* introdution */
.introduction {
    position: fixed;
}

#videoIntro {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 11;
    display: none;
}
#videoIntro.show{
    display: block;
}
#videoIntro.hidden {
    display: none;
}

.introduction.hidden {
    display: none;
}

.btn-intro {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-intro button {
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 100%;
    color: white;
    background-color: red;
    transition: 0.15s ease all;
    cursor: pointer;
}

.btn-intro button.play {
    display: none;
}

.btn-intro button:hover {
    opacity: 0.8;
}

#video {
    height: 230px;
    bottom: var(--bottom-height);
    right: 50%;
    /* display: none; */
    position: absolute;
    transform: translateX(50%);
}

#video-mc {
    height: 230px;
    bottom: var(--bottom-height);
    right: 50%;
    position: absolute;
    transform: translateX(50%);
}

.content-mc-read {
    position: relative;
    color: white;
    z-index: 1;
    height: 180px;
    overflow: hidden;
    font-size: 12px;
    padding: 20px 12px 12px 12px;
    font-weight: bold;
    overflow-y: scroll;
}

/* width */
.content-mc-read::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.content-mc-read::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.content-mc-read::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.content-mc-read::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#menu-right .buttonShowMenuright {
    width: 32px;
    height: 100px;
    color: white;
    position: absolute;
    right: 100%;
    top: 42%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    background-color: var(--background-color);
    opacity: 0.5;
    border-radius: 4px 0 0 4px;
}


#video.play {
    display: block;
}

#canvas2 {
    position: fixed;
    bottom: 0;
    right: 0;
}

.room iframe {
    width: 100%;
    height: 100%;
}

.room .room-item {
    width: 100%;
    height: 100%;
    display: none;
}

.room-item.show {
    display: block;
}

.room-item.hidden {
    display: none;
}

/* roome1 */

.about {
    display: none;
    width: 100%;
    height: 100%;
}

.about.show {
    display: block;
}

/* menu */
#menuLeft {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 150px;
    background-color: var(--background-color);
    transition: 0.15s ease all;
    transform: translateX(-100%);
    height: calc(100% - var(--header-height) + 10px);
    opacity: 0.8;
}

#menuLeft.show {
    transform: translateX(0);
}

.menuMain {
    margin-top: 100px;
    padding: 0;
    padding-right: 20px;
    box-sizing: border-box;
}

#menu-right {
    position: fixed;
    left: 100%;
    bottom: 0;
    min-width: var(--width-popup-right);
    transition: 0.15s ease all;
    transform: translateX(-100%);
    height: calc(100% - var(--header-height) + 10px);
}

#menu-right .arrow-open {
    display: none;
}

#menu-right .arrow-close {
    display: block;
}

#menu-right.hidden {
    transform: translateX(0);
}

#menu-right.hidden .arrow-close {
    display: none;
}

#menu-right.hidden .arrow-open {
    display: block;
}

.menu-overlay {
    opacity: 0.8;
    background-color: var(--background-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.menuMain-item {
    list-style: none;
    background-color: #89886b;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 0 50px 50px 0;
}

.buttonShowMenu {
    width: 32px;
    height: 100px;
    border-radius: 0 4px 4px 0;
    background-color: var(--background-color);
    color: white;
    position: absolute;
    right: 0;
    top: 42%;
    transform: translate(100%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    opacity: 0.5;
}

#popup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#popup.show {
    display: flex;
    background-color: rgb(128 128 128 / 50%);
}

#popup .popupmain {
    width: 96%;
    height: 90%;
    position: relative;
}

#popup .popupmain .contentPopup {
    box-shadow: 0px 0px 2px gray;
    border-radius: 4px;
    overflow: hidden;
    max-height: 100%;
}

#popup .popupmain .contentPopup {
    width: 100%;
    height: 100%;
    padding: 40px 200px;
    color: white;
    /* background-image: url("../access/img/bgpopup.jpg"); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--background-color);
}

.content-popup-bottom {
    height: 200px;
    overflow: hidden;
}

#popup .popupmain .contentPopup .descContentPopup {
    font-size: 12px;
}

#popup .popupmain .contentPopup .module3dLoad {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#popup .popupmain .contentPopup .module3dLoad p {
    color: white;
    font-size: 20px;
    font-weight: bold;

    color: #979797;
}

#popup .popupmain .buttonClose {
    border: none;
    outline: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 9;
    background-image: url("../access/img/btnClose.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.moduleThumb {
    width: 100%;
    min-height: 400px;
}

.module3dLoad-title {
    margin-bottom: 0;

}

.menuitem-box {
    display: none;
}

.menuitem-box.active {
    display: block;
}

.video-mc.hidden {
    display: none;
}

.video-mc {
    display: block;
}

#menuFooter {
    width: 100%;
    height: var(--bottom-height);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
#menuFooter.show{
    display: block;
}

#menuFooter .menu-Main {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
    background-color: var(--background-color);
    padding: 10px;
}

#menuFooter .menu-Main .menu-item {
    width: calc(100% / 6);
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

#menuFooter .menu-Main .menu-item .nav-link {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.35s ease all;
}

#menuFooter .menu-Main .menu-item .name-room {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(126 126 126 / 30%);
    opacity: 0;
}

#menuFooter .menu-Main .menu-item .name-room p {
    margin: 0;
}

#menuFooter .menu-Main .menu-item:hover .nav-link {
    transform: scale(1.2);
}

#menuFooter .menu-Main .menu-item:hover .name-room {
    opacity: 1;
}

#menuFooter .menu-Main .menu-item:nth-child(1) .nav-link {
    background-image: url("../access/img/tuongbac.jpg");
}

#menuFooter .menu-Main .menu-item:nth-child(2) .nav-link {
    background-image: url("../access/img/chude1.jpg");
}

#menuFooter .menu-Main .menu-item:nth-child(3) .nav-link {
    background-image: url("../access/img/chude2.jpg");
}

#menuFooter .menu-Main .menu-item:nth-child(4) .nav-link {
    background-image: url("../access/img/chude3.jpg");
}

#menuFooter .menu-Main .menu-item:nth-child(5) .nav-link {
    background-image: url("../access/img/chude4.jpg");
}

#menuFooter .menu-Main .menu-item:nth-child(6) .nav-link {
    background-image: url("../access/img/PhongTho.jpg");
}

#menuFooter .menu-Main .menu-item:nth-child(7) .nav-link {
    background-image: url("../access/img/BacHoBacTon.jpg");
}

#header {
    background-image: url("../access/img/bar.png");
    background-position: center;
    background-repeat: no-repeat;
    height: var(--header-height);
    position: relative;
    z-index: 10;
}

.header-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    color: white;
    width: calc(100% - 200px);
}

.header-main h1 {
    font-size: 14px;
    text-align: center;
    margin: 0;
    flex: 1;
    text-wrap: nowrap;
    font-weight: bold;
    text-transform: uppercase;
}


.header-mute {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
    gap: 10px;
}

.header-mute img {
    width: 20px;
    height: 14px;
}

.header-mute .translation {
    display: flex;
}

.header-about p {
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: calc(var(--width-popup-right) - 20px);
    text-align: center;
}

.volume-icon {
    color: white;
}

.volume-icon.mute {
    color: red;
}

@media screen and (max-width : 844px) {
    :root {
        --bottom-height: 80px;
    }

    .header-main h1 {
        display: none;
    }

    #menu-right {
        display: none;
    }

    #menuLeft {
        display: none;
    }

    .menuMain-item {
        margin: 4px;
        padding: 6px;
    }

    .moduleThumb {
        min-height: 200px;
        width: 100% !important;
    }

    .content-popup-bottom {
        height: 150px;
    }

    #popup .popupmain .contentPopup {
        padding: 40px 100px 10px 100px;
    }
}

@media screen and (max-width : 480px) {
    .logo-web {
        width: 130px;
    }

    .logo-web img {
        width: 70px;
    }

    #popup .popupmain .contentPopup {
        padding: 40px 10px 10px 10px;
    }
}